*{
    padding-top: 5px;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ItemListContainer {
	font-size: 6rem;
	color:  #ae905c;	
	letter-spacing: 00.3rem;
}

