.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;   
    min-height: 30vh;
    border: 1px solid #ae905c;
}
.footer__title{
        font-size: 1rem;
        color: #ae905c;
    }
.footer__subtitle{
        color: #978888;
        font-weight: bold;
    }
.footer__text{
        color: #818181;
    }    
.footer__pagenetwork:hover{
       color: #ae905c;
    }
.footer__li{
        list-style: none;
    }
.footer__a{
        text-decoration: none;
        color:#818181;
        font-size: 1rem;
    }
    .footer__bg{
        background-color:#eeeeee;
    }
    .footer__last{
        width: 100%;
        background-color:#303030;
    }    
    .footer__svg{
        width: 1rem;
        height:1rem;
        color: #ae905c;
    }
    .footer__svg:hover{
            color: white;
    }      
    .footer__links{
        text-align: center;
    }    
    ul.list-inline {
        text-align: center;
    }
    
    .footer__textlast{
        text-align: center;
    }